<%- include('include/_c-header') %>
<head><title>About | offTracker</title></head>
<div class="about-me">
<h1>ERROR 404</h1>
<h2>PAGE NOT FOUND</h2>
<h3><a href="/c-index" style="color:orange">CLICK HERE TO REDIRECT TO CLOTHING HOME PAGE</a></h3>
</div>
<%- include('include/_footer') %>