<%- include('include/_c-header') %>
<head><title>About | offTracker</title></head>
<header>
    <div class="nav">
        <a href="/c-index"><img src="img/c-logo.png" class="logo" alt="logo"></a>
            <ul class="nav__links">
                <li><a href="/c-index">Clothing</a></li>
                <li><a href="/f-index">Fragrances</a></li>
                <li><a href="/about">About</a></li>
            </ul>
        </nav>
    <a class="github" href="https://github.com/lironbm7" 
    target="_blank"><button class="github">GitHub</button></a>
    </div>
</header>
<hr id="header-hr">
<div class="about-me">
<h1>ERROR 404</h1>
<h2>PAGE NOT FOUND</h2>
<h3><a href="/c-index" style="color:orange">CLICK HERE TO REDIRECT TO CLOTHING HOME PAGE</a></h3>
</div>
<%- include('include/_footer') %>