<%- include('include/_c-header') %>
<head><title>About | offTracker</title></head>
<div class="about-me">
<h1>offTracker - Documentation & Links</h1>
<h3>offTracker on GitHub - https://github.com/lironbm7/offTracker</h4>>
<h4>Author GitHub - https://github.com/lironbm7</h4>
<h4>Author LinkedIn - https://www.linkedin.com/in/lironbiam/</h4>
</div>
<%- include('include/_footer') %>
