<%- include('include/_c-header') %>
<head><title>About | offTracker</title></head>
<div class="about-me">
<h1>What is offTracker?</h1>
<p>offTracker is a free, open-source web application developed by Liron Biam and serves as a
platform to keep track after your favorite clothing items and fragrances.</p>
<h4>What differs offTracker from any other platforms?</h4>
<p>• The ability to automatically, quickly and efficiently identify sales & discounts that are applied to items you have saved.</p>
<p>• Fully customizable, open source code that allows flexibility and compatibility between different user preferences.</p>
<h2>Features</h2>
<h3>offTracker Clothing</h3>
<p>EXAMPLEWEBSITE.COM sells a T-Shirt you like but it's quite expensive and you'd rather wait for a discount.</p>
<p>Instead of manually checking EXAMPLEWEBSITE.COM every day, you can save time with offTracker by simply
    inputting the item's URL</p>
<p>offTracker does the rest of the job, checking for price updates daily and notifies you about any discounts.</p>
<h3>offTracker Fragrance</h3>
<p>Read positive reviews about a fragrance or a perfume and now you really want to try it out?</p>
<p>In order to keep track after fragrances in three different categories (frags you own, want, and want to test),</p>
<p>All you have to provide offTracker with is a Fragrantica URL (a large-scale fragrance database website/forum)</p>
<p>offTracker offers pleasant user-interface, will generate the relevant fragrance data and divide fragrances into sections.</p>
<p>Furthermore, you can attach a purchase link for every fragrance, in case you found a worthy vendor/website.</p>
<h3>Future plans</h3>
<p>I personally use offTracker on a daily basis to review and monitor items I would like to purchase and take advantage of sales.</p>
<p>Various websites are added weekly/monthly, feel free to send suggestions, bug reports or contact me via Linkedinb</p>
<p>GitHub: https://github.com/lironbm7</p>
<p>LinkedIn: https://www.linkedin.com/in/lironbiam/</p>
</div>
<%- include('include/_footer') %>
