<%- include('include/_f-header') %>
<head><title>Add Fragrance | offTracker</title></head>
<div class="f-body">
    <div class="form-title text-center">
        <h2>Add New Fragrance</h2>
        <p>Fill the form below to list a new fragrance</p>
    </div>
<%- include('include/_f-form') %>
<%- include('include/_footer') %>
