<%- include('include/_c-header') %>
<head><title>Add Clothing Item | offTracker</title></head>
<div class="f-body">
    <div class="form-title text-center">
        <h2>Add New Clothing Item</h2>
        <p>Fill the form below to list a new clothing item</p>
    </div>
<%- include('include/_c-form') %>
<%- include('include/_footer') %>
