<header>
    <div class="nav">
      <a href="/c-index"><img src="img/c-logo.png" class="logo" alt="logo"></a>
      <ul class="nav__links">
        <li><a href="/c-index" class="c-index">Clothing</a></li>
        <li><a href="/f-index" class="f-index">Fragrances</a></li>
        <li><a href="/about" class="about">About</a></li>
      </ul>
      <a class="github" href="https://github.com/lironbm7" target="_blank"><button class="github">GitHub</button></a>
      
      <!-- Hamburger menu -->
      <div class="hamburger-menu">
        <div class="hamburger-menu__line"></div>
        <div class="hamburger-menu__line"></div>
        <div class="hamburger-menu__line"></div>
      </div>
      
      <!-- Mobile menu -->
      <ul class="nav__mobile-menu">
        <li><a href="/c-index" class="c-index">Clothing</a></li>
        <li><a href="/f-index" class="f-index">Fragrances</a></li>
        <li><a href="/about" class="about">About</a></li>
        <li><a href="https://github.com/lironbm7" class="github" target="_blank">GitHub</a></li>
      </ul>
    </div>
  </header>